<div id="container" style="height: 100%">
  <div class="pt50">
    <h2 class="pb40"> Hi
      <%= current_user.first_name %>!
      Please click this button to link your bank account!
    </h2>
    <button id="link-btn">Link Account</button>
    <h3 class="pt40"> For security reasons if you change pages you will need to re-login to your bank account!</h3>
  </div>
</div>

<div id="app">
  <div class="row">
    <div class="col-md-12">
      <h2> Hi
        <%= current_user.first_name %>!
        Here is your bank info for the last 30 days!
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 border p10">
        <h3>Transactions</h3>
      <div id="get-transactions-data">
        <div class="inner" v-for="transaction in transactions">
          <strong> {{transaction.name}} </strong>
          <br>
              ${{transaction.amount}}
          <br>
          <em>{{transaction.date}}</em>
          <br>
          <em>{{transaction.category[0]}}</em>
        </div>
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="row border-no-left">
        <canvas id="myCanvas" width="700" height="350"></canvas>
      </div>
      <div class="row">
        <div class="finCalc">
          <div>
            <button type="button" class="btn btn-geld" data-toggle="modal" data-target="#exampleModalLong">
              Savings Calc
            </button>
          </div>
          <div class="row">
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="exampleModalLongTitle">Use this calculator to save!</h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h4> Money Spent: ${{totalSpent}} </h4>
                      </div>
                      <div class="col-md-6">
                        <h4> Total Savings: ${{accountTotal}} </h4>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5> How much do you want in your account </h5>
                        <input v-model="expected_total"></input>
                        <h5> Amount spent on monthly expenses </h5>
                        <input v-model="monthly_expenses"></input>
                      </div>
                      <div class="col-md-6">
                        <h5> In how long? (months) </h5>
                        <input></input>
                        <h5> Amount spent on monthly expenses </h5>
                        <input></input>
                      </div>
                    </div>
                    <div class="row">
                      <h2>{{calculated}}</h2>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-geld" v-on:click="savingsCalc">Calculate</button>
                    <button type="button" class="btn btn-secondary btn-geld" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
