<div style='background-color: #2c3e50;' class='footer'>
  <div >
    <div class='col-md-5'>
      <p class= 'text-uppercase'> Follow us on social media</p>
      <ul class='list-inline'>
        <li><a href='#'> <%= fa_icon "facebook", class: "fa-2x"%></a></li>
        <li><a href='#'> <%= fa_icon "twitter", class: "fa-2x"%></a></li>
        <li><a href='#'> <%= fa_icon "instagram", class: "fa-2x"%></a></li>
      </ul>
    </div>
  </div>

  <div >
    <div class='col-md-7'>
      <ul class='list-inline'>
        <li><a href='#' class='list-inline-item footer-text'>FAQs</a></li>
        <li><a href='#' class='list-inline-item footer-text'>Help Center</a></li>
        <li><a href='#' class='list-inline-item footer-text'>Privacy Policy</a></li>
        <li><a href='#' class='list-inline-item footer-text'>Terms & Conditions of Use</a></li>
      </ul>
    </div>
  </div>
</div>
