<div class="pb90">
  <h1 class='page-header text-capitalize'><b>How it Started </b></h1>

  <div class= 'container-fluid'>
    <div class = 'row'>
      <div class= 'col-md-8 col-md-offset-2' >
       <h3 class='text-left hiddenBrian'>Geld-Project is a personal finance web application which was created by<b> Kobe Raypole</b> and <b>Barthelemy Peter</b>
         as a project for their
         <%= link_to 'software engineering course', brian_path %>
         at the Indiana Insitute of Technology. This interface allows a user
        to track their current spending habits, and set saving goals to promote a users finacial awareness and helping them save money.</h3>
       <br>
      </div>
    </div>
  </div>
  <iframe width="862" height="480" src="https://www.youtube.com/embed/fYJZx63kNTU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <br>
  <h1 class='page-header text-capitalize'><b>Link, Monitor, Save! Simple!</b></h1>
  <div class='container-fluid'>
    <div class='row'>
      <div class= 'col-md-8 col-md-offset-2'>
        <h3 class= 'text-left'>When you link your current bank account to the geld-project you will be able to see your
        transaction history over the past few months. Once the link is successful you can use this platform to create customized budgets
        based on your spending needs. This information is displayed in a format that is easy to use and understand
        thus making saving money a simpler process.</h3>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
