<div class="pt100">
  <div class="text-center border-form-div">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <h2>Forgot your password?</h2>

    <p>No one is Perfect.</p>
    <br>
        <%= f.input :email, autofocus: true, autocomplete: "email", required: true%>

      <div class="actions ">
        <%= f.button :submit, "Reset Password"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
