<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

<div style="height: 500px; background-color:WhiteSmoke;" class="jumbotron">
  <h2 class="container-fluid text-center"><strong>Welcome to the Geld Project</strong></h2>
  <hr>
  <div class="col-md-4">
  <br>
  <br>
  <p >Make <strong>banking</strong>, <strong>saving</strong>, and <strong>spending</strong> a simpler process. To learn more, feel free to click on the button below.</p>
  <br>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  <div>
</div>

  </body>
</html>
