  <h2 class="container-fluid text-center"><strong>Welcome to the Geld Project</strong></h2>
  <hr>
  <div class="col-md-4">
  <br>
  <br>
  <p >Make <strong>banking</strong>, <strong>saving</strong>, and <strong>spending</strong> a simpler process. To learn more, feel free to click on the button below.</p>
  <br>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
