<div class="user_page pb90">
<% if user_signed_in? %>
  <div id="container">
    <h2 class="pb40"> Hi
      <%= current_user.first_name %>!
      Please click this button to link your bank account!
    </h4>
    <button id="link-btn">Link Account</button>
  </div>

  <div id="app">
    <div class="row">
      <div class="col-md-12">
        <h2> Hi
          <%= current_user.first_name %>
          here is your bank info!
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3> Transactions </h3>
        <div id="get-transactions-data"></div>
      </div>

      <div class="col-md-4">
        <h3> Item </h3>
        <div id="get-item-data"></div>
      </div>

      <div class="col-md-4">
        <h3> Accounts </h3>
        <div id="get-accounts-data"></div>
      </div>
    </div>
  </div>

<% else %>
  <div class="container-fluid home">
    <div class='row pt80'>
      <h2 class="container-fluid text-center"><strong>Welcome to the Geld Project</strong></h2>
    </div>
    <div class='row pt20 pb110'>
      <div class="col-md-4">
        <br>
        <br>
        <h3 >Make <strong>banking</strong>, <strong>saving</strong>, and <strong>spending</strong> a simpler process. To learn more, feel free to click on the button below.</h3>

        <h4><%= link_to('Learn More', about_path, class:'btn btn-primary') %></h4>
      </div>
      <div class='col-md-8'>
        <img src='/assets/Home_Iphone_pic.png' alt='Iphone' height='25%' width='25%'>
      </div>
    </div>
  </div>
    <div class='desktop-image'>
      <img src='/assets/Desktop_pic.jpg' alt='Desktop Screen'>
    </div>
<% end %>
</div>
<script>
    function showImages(el) {
        var windowHeight = jQuery( window ).height();
        $(el).each(function(){
            var thisPos = $(this).offset().top;

            var topOfWindow = $(window).scrollTop();
            if (topOfWindow + windowHeight - 200 > thisPos ) {
                $(this).addClass("fadeIn");
            }
        });
    }

    // if the image in the window of browser when the page is loaded, show that image
    $(document).ready(function(){
            showImages('.desktop-image');
    });

    // if the image in the window of browser when scrolling the page, show that image
    $(window).scroll(function() {
            showImages('.desktop-image');
    });
</script>
